datasets==2.14.5
gTTS==2.3.2
joblib==1.2.0
matplotlib==3.7.1
nltk==3.8.1
numpy==1.24.3
pandas==1.4.4
pygame==2.5.2
python_Levenshtein==0.22.0
scikit_learn==1.2.2
soundfile==0.12.1
SpeechRecognition==3.10.0
torch==2.0.1
transformers==4.33.2
